
.checkout-container .card {
  border-left: none;
  border-top: none;
  border-right: none;
}

.checkout-container .card-body {
	border-bottom: 1px solid #ccc;
}

.checkout-container .card-header .badge {
	border-radius: 10px;
}